@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-tel-input .form-control {
  padding: 5px 5px 5px 60px !important;
  width: 100% !important;
}

.PhoneInputInput {
  border: solid 1px;
  border-color: #cacaca;
  padding: 3px 3px 3px 10px;
  border-radius: 5px;
}

.nextjs-toast-errors-parent {
  display: none !important;
}

[data-nextjs-toast] {
  display: none !important;
}

.marker-image {
  width: 45px !important;
}